<!DOCTYPE html>
<html>
<head>
  <title>Default home page.</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <style>body {font: normal 18px Arial; margin: 4em;}</style>
</head>
<body>
  <h2>
    Default home page.
  </h2>
</body>
</html>